# 控制流和Pandas-Pandas
微软专业学位课程 - 选修DAT208X
* Introduction to Python for Data Science:https://www.msaischool.com/courses/course-v1:Microsoft+DAT208x+2017_T4/about

## 文档：
Pandas为Python数据分析工具包
* 官方主页：http://pandas.pydata.org/
* 官方文档：http://pandas.pydata.org/pandas-docs/stable/

## 导入CSV文件

In [10]:
# Import pandas as pd
import pandas as pd

# Import the cars.csv data: cars
cars = pd.read_csv('./csv/cars.csv')

# Print out cars
print(cars)

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

In [12]:
# Import pandas as pd
import pandas as pd

# Fix import by including index_col
cars = pd.read_csv('./csv/cars.csv', index_col = 0)

# Print out cars
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

## 方括号

In [21]:
# Import cars data
import pandas as pd
cars = pd.read_csv('./csv/cars.csv', index_col = 0)

# Print out country column as Pandas Series
cars['country']

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [26]:
# Print out country column as Pandas DataFrame
cars[['country']]

           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

## loc

In [17]:
cars.loc['RU']

cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object

In [18]:
cars.loc[['RU']]

    cars_per_cap country  drives_right
RU           200  Russia          True

In [19]:
cars.loc[['RU', 'AUS']]

     cars_per_cap    country  drives_right
RU            200     Russia          True
AUS           731  Australia         False

In [24]:
# Import cars data
import pandas as pd
cars = pd.read_csv('./csv/cars.csv', index_col = 0)

# Print out observation for Japan
cars.loc['JAP']

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

In [25]:
# Print out observations for Australia and Egypt
cars.loc[['AUS', 'EG']]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

In [28]:
cars.loc['IN', 'cars_per_cap']

18

In [29]:
cars.loc[['IN', 'RU'], 'cars_per_cap']

IN     18
RU    200
Name: cars_per_cap, dtype: int64

In [30]:
cars.loc[['IN', 'RU'], ['cars_per_cap', 'country']]

    cars_per_cap country
IN            18   India
RU           200  Russia

In [33]:
# Print out drives_right value of Morocco
cars.loc['MOR', 'drives_right']

True

In [34]:
# Print sub-DataFrame
cars.loc[['RU', 'MOR'], ['country', 'drives_right']]

     country  drives_right
RU    Russia          True
MOR  Morocco          True